<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>

<h1>My first flask site!</h1>
<ul>
    <li><a href="{{ url_for('index') }}">Main</a></li>
    <li><a href="{{ url_for('contacts') }}">Contacts</a></li>
    <li><a href="https://github.com/rik-code">Мой git</a></li>
    <li><a href="https://vk.com/id692434277">Мой VK</a></li>
    <li><a href="https://www.youtube.com/watch?v=O3PBcBQ-l6M">Лучший мешап за последний месяц</a></li>
    <li><a href="{{ url_for('search') }}">Search Google</a></li>
</ul>
{% block content %}
<!-- весь контент сайта будет находиться туть -->
{% endblock %}

</body>
</html>